<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h3>SignUp</h3>
<form action="/user/signup" method="post">
    <table>
        <tr>
            <td>ID(email) : </td>
            <td><input type="text" name="userEmail"></td>
        </tr>
        <tr>
            <td>Password : </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="회원가입"></td>
        </tr>
    </table>
</form>
</body>
</html>